@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  animation: colorChange 10s infinite alternate;
  background-size: 100%;
  background-blend-mode: overlay;
  background-image: url("https://static.vecteezy.com/system/resources/previews/005/877/485/non_2x/pastel-blue-floral-pattern-for-printing-fabric-pattern-background-vector.jpg");
  font-family: 'Courier New', Courier, monospace;
}

                @keyframes colorChange 
                {0%{background-color: rgb(181, 238, 255);}
                50%{background-color: rgb(166, 182, 255)}
                75%{background-color: rgb(255, 188, 255);}
                100%{background-color: rgb(255, 222, 146);}}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Fascinate Inline", sans-serif;
  text-align: center;
  padding: 20px;
  color: rgb(84, 138, 255);
  background-color: rgb(255, 252, 247);
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 40px;
}

button{
  background-color: rgb(179, 219, 255);
  border-radius: 10px;
  color: rgb(67, 67, 177);
  border-color: rgb(67, 67, 177);
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  margin: 20px;
}
    button:hover{
      background-color: rgb(255, 217, 230);
    }

#buttonfix{
  text-align: center;
}

p{
  max-width: 80%;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(255, 252, 247);
  color: rgb(67, 67, 177);
  border-radius: 20px;
  margin-bottom: 10px;
}

#instruction{
  text-align: center;
  width: fit-content;
}

img{
  margin: auto;
  display: block;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 50%;
}

h2{
  text-align: center;
  font-size: 35px;
  background-color: rgb(255, 252, 247);
  color: rgb(67, 67, 177);
  border-radius: 20px;
  margin: auto;
  margin-bottom: 10px;
  width: fit-content;
  padding: 10px;
}

iframe{
  display: block;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

a{
  background-color: rgb(231, 243, 255);
  border-radius: 10px;
  font-style: italic;
  color: rgb(83, 83, 235);
}
  a:hover{
    background-color: rgb(255, 217, 230);
    color: white;
  }

  div{
    padding: 20px;
    border-radius: 20px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }

  .bg1{
    background-blend-mode: overlay;
    background-size: 100%;
    background-image: url("https://as2.ftcdn.net/jpg/01/24/88/45/1000_F_124884537_4KD8K83TTd71w2eYpEJQr8YB2sbXyhPs.jpg");
  }

   .bg2{
    background-blend-mode: overlay;
    background-size: 100%;
    background-image: url("https://as2.ftcdn.net/jpg/01/24/88/45/1000_F_124884537_4KD8K83TTd71w2eYpEJQr8YB2sbXyhPs.jpg");
  }

  .bg3{
    background-blend-mode: overlay;
    background-size: 100%;
    background-image: url("https://as2.ftcdn.net/jpg/01/24/88/45/1000_F_124884537_4KD8K83TTd71w2eYpEJQr8YB2sbXyhPs.jpg");
  }

  .bg4{
    background-blend-mode: overlay;
    background-size: 100%;
    background-image: url("https://as2.ftcdn.net/jpg/01/24/88/45/1000_F_124884537_4KD8K83TTd71w2eYpEJQr8YB2sbXyhPs.jpg");
  }

   .bg5{
    background-blend-mode: overlay;
    background-size: 100%;
    background-image: url("https://as2.ftcdn.net/jpg/01/24/88/45/1000_F_124884537_4KD8K83TTd71w2eYpEJQr8YB2sbXyhPs.jpg");
  }

  .bg6{
    background-blend-mode: overlay;
    background-size: 100%;
    background-image: url("https://as2.ftcdn.net/jpg/01/24/88/45/1000_F_124884537_4KD8K83TTd71w2eYpEJQr8YB2sbXyhPs.jpg");
  }

  .bg7{
    background-blend-mode: overlay;
    background-size: 100%;
    background-image: url("https://as2.ftcdn.net/jpg/01/24/88/45/1000_F_124884537_4KD8K83TTd71w2eYpEJQr8YB2sbXyhPs.jpg");
  }
  

